<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings configSource="App_Code\Config.xml" />
	<location path="HTML/index.aspx">
		<system.web>
			<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en-US" />
		</system.web>
	</location>
	<system.web>
		<!-- Session过期时间 -->
		<sessionState mode="InProc" timeout="240" />
		<!--设置网站全局 ASP.NET 页的字符编码格式-->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
		<!--默认错误页设置-->
		<customErrors defaultRedirect="Err.html" mode="RemoteOnly">
			<!--特殊代码编号的错误从定向文件-->
			<error statusCode="403" redirect="NoAccess.htm" />
			<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime requestValidationMode="2.0" maxRequestLength="20480" executionTimeout="600" />
		<pages validateRequest="false" />
	</system.web>
	<connectionStrings>
		<!--测试-->
		<!--<add name="WeiTanSiteConnectionString" connectionString="Data Source=119.23.135.8;Initial Catalog=hoteltemplate;Persist Security Info=True;User ID=sa;Password=sewa-power" providerName="System.Data.SqlClient"/>-->
		<!--正式-->
		<add name="WeiTanSiteConnectionString" connectionString="Data Source=rm-wz9efz68bpwpjle29.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=hoteltemplate;Persist Security Info=True;User ID=sewa;Password=Sewa-power25787564" providerName="System.Data.SqlClient" />
		<add name="LogFilePath" connectionString="D:\\RM_Log\\SysLog" />
	</connectionStrings>
	<system.webServer>
		<!--默认文档-->
		<defaultDocument>
			<files>
				<clear />
				<add value="index.html" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="iisstart.htm" />
				<add value="default.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>