@charset "UTF-8";
	
*{
	margin: 0; padding: 0;
	box-sizing: inherit;
	color: inherit; font-family: inherit; font-size: inherit; font-weight: normal; font-style: normal;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	font-family: "Helvetica Neue", "Helvetica", "Microsoft Yahei", sans-serif;
	font-size: 16px;
	color: #333;
}
html,body,form{height: 100%;}

h1,h2,h3,h4,h5,h6,
div,p,b,strong,em,i,span,a,small{word-wrap: break-word;}

table{border-collapse: collapse; width: 100%; table-layout:fixed;} 
th,td{
	text-align: center; 
	padding: 6px; 
	border: none; 
}

ul,ol,li {list-style: none;}
a,a:hover{text-decoration: none; }
img{border: 0; outline: 0; vertical-align: middle}

::-moz-placeholder{color: #ccc;}
::-ms-input-placeholder{color: #ccc;}
::-webkit-input-placeholder{color: #ccc;}

input,textarea,select{
	outline: none; resize: none; 
	border: 1px solid #ccc; border-radius: 4px;
	box-sizing: border-box;
    appearance: none; -moz-appearance: none; -webkit-appearance: none;
	background: white; width: 100%;  padding: 0 6px;
	height: 20px; line-height: 20px;
}

textarea{padding: 4px 6px;height: 80px; line-height: 1.4em;}

/*direction icon*/
.upIcon, .downIcon, .leftIcon, .rightIcon{
	position: relative; 
	display: block;
	/*width: 100px;
	height: 10px;*/
}
.upIcon:after, .downIcon:after, .leftIcon:after, .rightIcon:after{
	content: "";
	position: absolute;
	/*right: 10px;
	top: 10px;*/
	width: 10px; 
	height: 10px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.upIcon:after   {border-right: 1px solid #999; border-bottom: 1px solid #999; }
.downIcon:after {border-left:  1px solid #999; border-top: 1px solid #999; }
.leftIcon:after {border-left:  1px solid #999; border-bottom: 1px solid #999; }
.rightIcon:after{border-right: 1px solid #999; border-top: 1px solid #999; }


/* button */
.button{
	display: block;
	width: 100%;       /*Will be covered*/
	text-align: center;
	margin: 0 auto;
	color: white;
	border: none; outline: none;
	background-color: #c00;
	border-radius: 4px; 
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	appearance: none; -moz-appearance: none; -webkit-appearance: none;
	cursor: pointer;
}




/* clearfix */
.clearfix{zoom: 1}
.clearfix:after{
	clear: both;
	display: block;
	visibility: hidden;
	content: "";
	height: 0;
}



/* ellipsis */
.ellipsis{
	width: 100px;        /*Will be covered*/
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* moblie：line-clamp */
.line-clamp{
	width: 200px;        /*Will be covered*/
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	max-height: 3.2em;
	line-height: 1.6em;
}


/* justify */
.justify{
	width: 100px;       /*Will be covered*/
	display: inline-block;
	text-align: justify;
}
.justify:after{
	content: "";
	display: inline-block;
	width: 100%;
}




/* ::-webkit-scrollbar{
   width: 0px;
   height: 0px;
}
::-webkit-scrollbar-button:vertical{
  display:none
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track{
  background-color:#e2e2e2;
}
::-webkit-scrollbar-thumb{
  border-radius:0;
  background-color:rgba(0,0,0,.2);
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:vertical:active{
  background-color:rgba(0,0,0,.4);
} */



@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?evwak4');
  src:  url('fonts/icomoon.eot?evwak4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?evwak4') format('truetype'),
    url('fonts/icomoon.woff?evwak4') format('woff'),
    url('fonts/icomoon.svg?evwak4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-car:before {
  content: "\e925";
}
.icon-class:before {
  content: "\e926";
}
.icon-class1:before {
  content: "\e927";
}
.icon-class2:before {
  content: "\e928";
}
.icon-conpon:before {
  content: "\e929";
}
.icon-conpon2:before {
  content: "\e92a";
}
.icon-conponfull2:before {
  content: "\e92b";
}
.icon-dame:before {
  content: "\e92c";
}
.icon-damefull:before {
  content: "\e92d";
}
.icon-edit:before {
  content: "\e92e";
}
.icon-gift:before {
  content: "\e92f";
}
.icon-info:before {
  content: "\e930";
}
.icon-integral1:before {
  content: "\e931";
}
.icon-integral2:before {
  content: "\e932";
}
.icon-integral3:before {
  content: "\e933";
}
.icon-integralfull:before {
  content: "\e934";
}
.icon-member1:before {
  content: "\e935";
}
.icon-member2:before {
  content: "\e936";
}
.icon-money2:before {
  content: "\e937";
}
.icon-order:before {
  content: "\e938";
}
.icon-question:before {
  content: "\e939";
}
.icon-share4:before {
  content: "\e93a";
}
.icon-shoe:before {
  content: "\e93b";
}
.icon-sigh:before {
  content: "\e93c";
}
.icon-bad:before {
  content: "\e93d";
}
.icon-calen:before {
  content: "\e93e";
}
.icon-calenfull:before {
  content: "\e93f";
}
.icon-clock:before {
  content: "\e940";
}
.icon-cook:before {
  content: "\e941";
}
.icon-drink:before {
  content: "\e942";
}
.icon-eye_close:before {
  content: "\e943";
}
.icon-eye_open:before {
  content: "\e944";
}
.icon-food:before {
  content: "\e945";
}
.icon-good:before {
  content: "\e946";
}
.icon-goodfull:before {
  content: "\e947";
}
.icon-images:before {
  content: "\e948";
}
.icon-imagesfull:before {
  content: "\e949";
}
.icon-keep:before {
  content: "\e94a";
}
.icon-wifi:before {
  content: "\e94b";
}
.icon-andoird:before {
  content: "\e94c";
}
.icon-apple:before {
  content: "\e94d";
}
.icon-computer:before {
  content: "\e94e";
}
.icon-computer2:before {
  content: "\e94f";
}
.icon-horn:before {
  content: "\e950";
}
.icon-horn2:before {
  content: "\e951";
}
.icon-ie:before {
  content: "\e952";
}
.icon-moblie:before {
  content: "\e953";
}
.icon-notebook:before {
  content: "\e954";
}
.icon-pause:before {
  content: "\e955";
}
.icon-pay:before {
  content: "\e956";
}
.icon-play:before {
  content: "\e957";
}
.icon-print:before {
  content: "\e958";
}
.icon-qq:before {
  content: "\e959";
}
.icon-stop:before {
  content: "\e95a";
}
.icon-turnoff:before {
  content: "\e95b";
}
.icon-wechat:before {
  content: "\e95c";
}
.icon-window:before {
  content: "\e95d";
}
.icon-download:before {
  content: "\e95e";
}
.icon-mess:before {
  content: "\e95f";
}
.icon-mess_email:before {
  content: "\e960";
}
.icon-mess_emailfull:before {
  content: "\e961";
}
.icon-Refresh1:before {
  content: "\e962";
}
.icon-Refresh2:before {
  content: "\e963";
}
.icon-Refresh3:before {
  content: "\e964";
}
.icon-share:before {
  content: "\e965";
}
.icon-share2:before {
  content: "\e966";
}
.icon-upload:before {
  content: "\e967";
}
.icon-dollar:before {
  content: "\e968";
}
.icon-hotel:before {
  content: "\e969";
}
.icon-house:before {
  content: "\e96a";
}
.icon-housefull:before {
  content: "\e96b";
}
.icon-menu1:before {
  content: "\e96c";
}
.icon-menu2:before {
  content: "\e96d";
}
.icon-menu3:before {
  content: "\e96e";
}
.icon-rmb:before {
  content: "\e96f";
}
.icon-rmb_cir:before {
  content: "\e970";
}
.icon-rmb_cirfull:before {
  content: "\e971";
}
.icon-setup:before {
  content: "\e972";
}
.icon-close:before {
  content: "\e973";
}
.icon-close_cir:before {
  content: "\e974";
}
.icon-closefull:before {
  content: "\e975";
}
.icon-delete:before {
  content: "\e976";
}
.icon-down:before {
  content: "\e977";
}
.icon-downfull:before {
  content: "\e978";
}
.icon-export:before {
  content: "\e979";
}
.icon-Hook:before {
  content: "\e97a";
}
.icon-Hook_cir:before {
  content: "\e97b";
}
.icon-Hook_cir2:before {
  content: "\e97c";
}
.icon-Hookfull:before {
  content: "\e97d";
}
.icon-left:before {
  content: "\e97e";
}
.icon-left_cir:before {
  content: "\e97f";
}
.icon-leftfull:before {
  content: "\e980";
}
.icon-plus:before {
  content: "\e981";
}
.icon-plusfull:before {
  content: "\e982";
}
.icon-radio:before {
  content: "\e983";
}
.icon-radio_bold:before {
  content: "\e984";
}
.icon-radioed:before {
  content: "\e985";
}
.icon-reduce:before {
  content: "\e986";
}
.icon-reducefull:before {
  content: "\e987";
}
.icon-return:before {
  content: "\e988";
}
.icon-right:before {
  content: "\e989";
}
.icon-right_cir:before {
  content: "\e98a";
}
.icon-rightfull:before {
  content: "\e98b";
}
.icon-switch_guan:before {
  content: "\e98c";
}
.icon-switch_kai:before {
  content: "\e98d";
}
.icon-switch_off:before {
  content: "\e98e";
}
.icon-switch_on:before {
  content: "\e98f";
}
.icon-up:before {
  content: "\e990";
}
.icon-upfull:before {
  content: "\e991";
}
.icon-chart:before {
  content: "\e992";
}
.icon-like:before {
  content: "\e993";
}
.icon-likefull:before {
  content: "\e994";
}
.icon-photo:before {
  content: "\e995";
}
.icon-photofull:before {
  content: "\e996";
}
.icon-star:before {
  content: "\e997";
}
.icon-star_horn:before {
  content: "\e998";
}
.icon-starfull:before {
  content: "\e999";
}
.icon-sweep:before {
  content: "\e99a";
}
.icon-voice:before {
  content: "\e99b";
  color: #666767;
}
.icon-voicefull:before {
  content: "\e99c";
}
.icon-addr:before {
  content: "\e900";
}
.icon-addr_cir:before {
  content: "\e901";
}
.icon-addr_cirfull:before {
  content: "\e902";
}
.icon-addr_curr:before {
  content: "\e903";
}
.icon-addr_curr2:before {
  content: "\e904";
}
.icon-addr_curr3:before {
  content: "\e905";
}
.icon-addr_horn:before {
  content: "\e906";
}
.icon-addr_hornfull:before {
  content: "\e907";
}
.icon-search1:before {
  content: "\e908";
}
.icon-search2:before {
  content: "\e909";
}
.icon-search3:before {
  content: "\e90a";
}
.icon-tel:before {
  content: "\e90b";
}
.icon-tel_bold:before {
  content: "\e90c";
}
.icon-telfull:before {
  content: "\e90d";
}
.icon-cart1:before {
  content: "\e90e";
}
.icon-cart2:before {
  content: "\e90f";
}
.icon-cart3:before {
  content: "\e910";
}
.icon-cart4:before {
  content: "\e911";
}
.icon-cart5:before {
  content: "\e912";
}
.icon-lock:before {
  content: "\e913";
}
.icon-man_yesfull:before {
  content: "\e914";
}
.icon-man:before {
  content: "\e915";
}
.icon-man_add:before {
  content: "\e916";
}
.icon-man_admin:before {
  content: "\e917";
}
.icon-man_cir:before {
  content: "\e918";
}
.icon-man_cirfull:before {
  content: "\e919";
}
.icon-man_eye:before {
  content: "\e91a";
}
.icon-man_eyefull:before {
  content: "\e91b";
}
.icon-man_kind:before {
  content: "\e91c";
}
.icon-man_kindfull:before {
  content: "\e91d";
}
.icon-man_many:before {
  content: "\e91e";
}
.icon-man_many_yes:before {
  content: "\e91f";
}
.icon-man_max:before {
  content: "\e920";
}
.icon-man_maxfull:before {
  content: "\e921";
}
.icon-man_min:before {
  content: "\e922";
}
.icon-man_minfull:before {
  content: "\e923";
}
.icon-man_yes:before {
  content: "\e924";
}


