/*---------------------重置样式----------------------------*/    
blockquote,fieldset,legend,iframe,pre,audio,video,
html,body,div,p,dd,dl,dt,
h1,h2,h3,h4,h5,h6,hr,
li,ul,ol,table,td,th,
form,input,select,textarea,button{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}


html,body{font-size: 16px;}
table {border-collapse: collapse; border-spacing: 0; width: 100%} 
ul,ol,li {list-style: none;}
a,a:hover{text-decoration: none; outline: 0;}
fieldset,img{border: 0;}

button,input,select,textarea,option,label,
h1,h2,h3,h4,h5,h6,
td,th,ul,ol,li,dt,dd,dl,
div,p,b,strong,em,i,span,a{
	color: black;
	font: normal normal 1rem/1.2em 'Helvetica Neue',Microsoft Yahei,'PingFang SC',STHeitiSC-Light,Helvetica,Arial,sans-serif;
	-webkit-text-size-adjust: 100%;
} 

::-moz-placeholder{color: #999;}
::-ms-input-placeholder{color: #999;}
::-webkit-input-placeholder{color: #999;}

button,input,select,textarea {
	background: none;
	padding: 3px;
	outline: none; 
	resize: none; 
	border: 1px solid #ccc;
			appearance: none;
	   -moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 3px;
	box-sizing: border-box;
	width: 100%;
}

input[type="radio"],input[type="checkbox"]{ opacity: .5; width: auto; }
input[type="radio"]{-webkit-appearance: radio; -moz-appearance: radio; appearance: radio;}
input[type="checkbox"]{-webkit-appearance: checkbox; -moz-appearance: checkbox; appearance: checkbox;}
/*---------------------头部底部背景----------------------------*/    
  
 #header .nav
{
    position: relative;
    width: auto;
    display: inline-block;
    border: none;
    padding-left: 10px;
}
  
 #header .btn-nav
{
    background: transparent;
    border: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
}

 #header .btn-nav:focus
{
    outline: 0;
}
 #header .icon-bar
{
    display: block;
    margin: 6px 0;
    width: 25px;
    height: 2px;
    background-color: #FFFFFF;
}
 #header .btn-nav:hover .icon-bar
{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
 #header .nav-content
{
    position: fixed;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    display: block;
    height: 100%;
}
 #header .icon-bar
{
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    z-index: 999999;
}
 #header .animated .icon-bar
{
    z-index: 999999;
}

 #header .animated .top
{
    -webkit-transform: translateY(5px) rotateZ(45deg);
    -moz-transform: translateY(5px) rotateZ(45deg);
    -ms-transform: translateY(5px) rotateZ(45deg);
    -o-transform: translateY(5px) rotateZ(45deg);
    transform: translateY(5px) rotateZ(45deg);
}

 #header .animated .bottom
{
    -webkit-transform: translateY(-11px) rotateZ(-45deg);
    -moz-transform: translateY(-11px) rotateZ(-45deg);
    -ms-transform: translateY(-11px) rotateZ(-45deg);
    -o-transform: translateY(-11px) rotateZ(-45deg);
    transform: translateY(-11px) rotateZ(-45deg);
}

 #header .animated .middle
{
    width: 0;
}
   
/*---------------------首页头部样式----------------------------*/
#header {
    max-width: 640px;
    margin: 0 auto;
}
.head_tb {
    width: 100%;
    height: 50px;
    background: url("/App_Themes/default/images/hotel_picture/head_back.png") no-repeat center -4px;
}


.head_tb td {
    font-size: 14px;
    font-family: 微软雅黑;
    color: #Dab96a;
}
.head_tb .td1 {
    width: 55px;
}
.head_tb .td1 img {
    width: 35px;
    margin-left: 15px;
}
.head_tb td.ui-td
{
    vertical-align: bottom;
    padding:8px 0px 4px 0px;
    text-align:center;
    }
.head_tb td.ui-td img
{
    height: 40px;
    }
.head_tb .ui-td .sp1 {
    line-height: 16px;
    font-size: 14px;
    font-family: 微软雅黑;
}
.head_tb .ui-td .sp2
{
    font-size: 14px;
    color: #DAB96A;
    font-family: 微软雅黑;
    }
.head_tb .td3 {
    width: 55px;
    text-align: right;
}
.head_tb .td3 #headimg
{
    margin-right: 10px;
    }
.head_tb .td3 img {
    height: 18px;
    margin-right: 10px;
}

#headimg
{
    float: right;
    width: 100%;
    height: 50px;
    position: relative;
 }
 #headimg > a
 {
    display: block;
    width: 22px;
    height: 2px;
    top: 23px;
    right: 16px;
    background: #fff;
    border-radius: 0;
    position: absolute;
 }
 #headimg > a:before,
 #headimg > a:after
 {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    top: 7px;
    left: 0;
    background: #fff;
    border-radius: 0;
}
#headimg > a:after
{
    top: -7px
}
.head_tb .td3 #headimg .navi
{
    width: 110px;
    padding: 2px 0px;
    position: absolute;
    right: 0px;
    top: 56px;
    z-index: 2;
    display: none;
    background: #54341f;
}
.head_tb .td3 #headimg .navi table
{
    width: 100%;
    text-align: center;
    }
#headimg tr {
    height: 30px;
}
#headimg tr td {
    text-align: center;
}
#headimg tr td a {
    color: #fff;
    text-decoration:none;
    font-size: 16px;
}
.head_tb td.td_img
{
    width: 55px;
    text-align: left;
    }
.head_tb td.td_img img
{
    width:23px;
    height:23px;
    padding-top: 5px;
    padding-left: 10px;
    }

.head_tb td.td2
{
    text-align: center;
    }

.head_tb td.td2 span
{
    font-size: 18px;
    color: #DAB96A;
    font-family: 微软雅黑;
    }

/*--------------------------------内页头部样式-------------------------------------------*/
.head_tb1 {
    width: 100%;
    height: 50px;
}
.head_tb1 td {
    font-size: 14px;
    font-family: 微软雅黑;
   
}
.head_tb1 .td_img {
    width: 20%;
}
.head_tb1 .td_img a
{
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
}
.head_tb1 .td_img a:after
{
    position: absolute;
    top: 18px;
    left: 24px;
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    content: "";
}
.head_tb1 .td1 img {
    width: 35px;
    margin-left: 15px;
}
.head_tb1 .td3 #headimg .navi
{
    width: 110px;
    padding: 6px 0px;
    position: absolute;
    right: 0px;
    top: 49px;
    z-index: 22222;
    display: none;
    box-shadow: -1px 2px 3px rgba(0,0,0,.1);
}
.head_tb1 .td3 #headimg .navi table
{
    width: 100%;
    text-align: center;
    }
.head_tb1 td.td_img img
{
    width:20px;
    height:20px;
    padding-top: 1px;
    padding-left: 20px;
    }

.head_tb1 td.td2
{
    width:60%;
    text-align: center;
    }

.head_tb1 td.td2 span
{
    font-size: 18px;
    color: #fff;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
    }
.head_tb1 .td3
{
    width:20%;
    }
.head_tb1 td.td3 img
{
    width:20px;

    }
    
/*--------------------------------内页底部样式-------------------------------------------*/

.foot_nav{
    height: 50px;
    width: 100%;
    max-width: 640px;
    bottom: 0px;
    position:fixed;
}
.foot_nav .f_buttom
{
    padding-top:10px;
    text-align:center;
    }
.foot_nav .f_buttom p
{
    line-height:20px;
    font-size:10px;
    font-family:Arial,"微软雅黑";
    color:#9b7c5e;
    }
.foot_nav .f_buttom p a
{
    color:#af967c;
    text-decoration:none;
    }
.foot_nav .dlfoot {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0px;
    text-align: center;
}
.foot_nav .dlfoot a
{
    text-decoration:none;
    }
.foot_nav .dlfoot dt {
    margin: 0px;
    margin-top: 9px;
}
.foot_nav .dlfoot dt img {
    height: 18px;
}
.foot_nav .dlfoot dd 
{
    line-height:20px;
    color: #fff;
    font-size: 12px;
    font-family: 微软雅黑;
}








/*--------------------------------底部样式-------------------------------------------*/
.footer
{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}
/*#footer {
    height: 50px;
    width: 100%;
    max-width: 640px;
    bottom: 0px;
    left: 0;
    position:fixed;
    left: 50%;
    transform: translate(-50%);
}
#footer .f_buttom
{
    padding-top:10px;
    text-align:center;
    }
#footer .f_buttom p
{
    line-height:20px;
    font-size:10px;
    font-family:Arial,"微软雅黑";
    color:#9b7c5e;
    }
#footer .f_buttom p a
{
    color:#af967c;
    text-decoration:none;
    }*/



#footer {
    height: 50px;
    width: 100%;
    max-width: 640px;
    bottom: 0px;
    left: 0;
    position:fixed;
    overflow: hidden;
    border-top: 1px solid #ddd;
    background: #fff !important;
    left: 50%;
    transform: translate(-50%);
}
#footer .dlfoot
{
    float: left;
    width: 25%;
}

#footer .dlfoot a
{
    display: block;
    text-align: center;
    font-size: 12px;
    color: #999;
    width: 100%;
}

#footer .dlfoot a i
{
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px auto 3px;
}
#footer .dlfoot:nth-child(1) a i{background-position: 1px 0}
#footer .dlfoot:nth-child(2) a i{background-position: -19px 0}
#footer .dlfoot:nth-child(3) a i{background-position: -41px 0}
#footer .dlfoot:nth-child(4) a i{background-position: -62px 0}

.Reserve #footer .dlfoot:nth-child(1) a i{background-position: 1px -20px}
.orderlist #footer .dlfoot:nth-child(2) a i{background-position: -19px -20px}
.profile #footer .dlfoot:nth-child(3) a i{background-position: -41px -20px}
.member #footer .dlfoot:nth-child(4) a i{background-position: -62px -20px}


/*#footer .dlfoot {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0px;
    text-align: center;
}
#footer .dlfoot a
{
    text-decoration:none;
}

#footer .dlfoot dt {
    margin: 0px;
    margin-top: 9px;
}
#footer .dlfoot dt img {
    height: 18px;
}
#footer .dlfoot dd 
{
    line-height:20px;
    color: #fff;
    font-size: 12px;
    font-family: 微软雅黑;
}*/
@import url(screen.css);





/*头部
-------------------------------------------------------------------------------------------------*/
.HeadArea
{
	 width:1000px;
	 height:105px;
	 margin:0 auto;

}

.logo
{
	 float:left;
	 width: 200px;
	 margin-top:30px;
}
.headrr
{
float: right;
width: 666px;
padding-top:30px;
padding-right:10px;
}
.head_top
{
	text-align:right;
	color:#666;
	padding-right:2px;
	 font-family:Arial;
 font-size:12px;
 
}
.head_top span
{
	 background: url(../images/phone.jpg) no-repeat ;
	 padding-left:13px;
}
.head_top a
{
	color:#666;
}

.nav
{
      /*padding-top:17px;*/
      *padding-top:17px;
}

.nav ul li.ww
{
	float:left;
	padding-left:35px;
	position:relative;
}
.nav ul li a
{
 font-family:宋体;
 font-size:12px;
 color:#666;
 height: 36px;
display: inline-block;
}
.nav ul li a.this,
.nav ul li a.HeadBackgrundcolor
{
	 color:#cc0000;
	 text-decoration:none;
}
.nav ul li a:hover
{
	color:#cc0000;
	 text-decoration:none;
	 
}
.nav ul li div
{
	 background: url(../images/nav2bg.png) no-repeat 50px top ;
	 position:absolute; /*?navλ*/
	top:33px; /*?navλ*/
	left: 50%;
z-index: 1;
margin-left: -37px;
	  z-index:1;
	  display:none/*?*/
}
.nav ul li ul 
{
	/*;??????*/
    width:50px;
	background-color:#333;
  padding: 10px 30px;
margin-top: 7px;
}
.nav ul li ul.en
{
	max-width:230px;
	min-width:175px;
	width:auto;
	_width:230px;
			
}
.nav ul li ul li 
{
	float:none; /**/
	_zoom:1; /*IE6Bug*/
	line-height:33px;
     color:#fff;
     padding-left:0px;   
}
.nav ul li ul li a 
{
	float:none; /**/
	background-color:#333;
	color:#ebebeb;
	padding:0px;
	padding: 0px;
	height:auto;
	font-size:12px;
	display: initial;
	filter:alpha(opacity=60); 
    -moz-opacity:0.6; 
    opacity:0.6;
}
.nav ul li ul li a:hover
{
	text-decoration:none;
	color:#fff;
	filter:alpha(opacity=100); 
    -moz-opacity:1; 
    opacity:1;
}			  
.nfocus
{
	width:100%;
	margin:0 auto;
	height:260px;
	position:relative;
	overflow:hidden;
	z-index:-1;
}
.nfocus img
{
	position:absolute;
	left:50%;
	margin-left:-960px;
}			  
					  
/*底部
-------------------------------------------------------------------------------------------------*/


.foot
{
	 padding-top:40px;
	 width:100%;
	 height:350px;
	 background: url(../images/foot.jpg) repeat ;

}
.foot_con
{
	width:980px;
	margin:0 auto;
	 overflow:hidden;
	 padding:0px 10px;
	 background: url(../images/footbg.jpg) no-repeat center bottom ;
	 height: 100%;
}
.foot .top
{
	overflow:hidden;
	height: 306px;
}
.foot_con .ll
{
	float:left;
	 width:300px;
	 background: url(../images/footll.jpg) no-repeat left top;
}
.foot_con .ll p
{
	margin-bottom:12px;
	 font-family:Arial;
 font-size:12px;
 color:#999;
 padding-left:18px;
}
.foot_con .ll p.last
{
	padding-top:2px;
	position:relative;
}
.foot_con .ll p a
{
		 font-family:Arial;
 font-size:12px;
 color:#999;
}
.foot_con .ll p.last a
{
	background: url(../images/fxtt1.jpg) no-repeat 55px 6px;
width: 70px;
display: inline-block;
}
.foot_con .ll p.last a:hover
{
	background: url(../images/fxtt2.jpg) no-repeat 55px 6px;
	color:#fff;
	text-decoration:none;
}
.foot_con .ll p.last img
{
	position: absolute;
left: 30px;
top: 25px;
width: 100px;
height: 100px;
display:none;
}
.foot_con .ll p.last a:hover img
{
	display:block;
}
.foot_con .rr
{
	 float:right;
	 width:600px;
}
.foot_con .rr dl
{
	float:left;
	margin-left:65px;
	width:55px;
}
.foot_con .rr dl dt
{
	font-weight:bold;
	color:#fff;
	padding-bottom:20px;
}
.foot_con .rr dl dd
{
	padding-bottom:15px;
}
.foot_con .rr dl dd a
{
	color:#b3b3b3;
}
.bot p
{
	font-family:Arial;
	font-size:12px;
	color:#666;
	width:368px;
	margin:0 auto;
}
.bot p a
{
	font-size:12px;
	color:#444;
	margin-left:10px;
}
.bot p img
{
	float:right;
	margin-top: 4px;
	*margin-top: -14px;
}
.foot_con .rr dl dd a:hover,
.foot_con .ll p a:hover,
.bot p a:hover
{
	color:#fff;
	text-decoration:none;
}
/*!
 * pull to refresh v2.0
 *author:wallace
 *2016-7-29   下拉刷新样式
 */
.container{ overflow: hidden; min-height: 100%; background: rgba(0, 0, 0, 0.1); }

.loading-warp{ display: table; width: 100%; margin-top: -5.8rem; }
.loading-warp .box{ width: 100%; padding-top: 1rem; padding-bottom: 1rem;
 display: table-cell; text-align: center; vertical-align: middle; }
.loading-warp .box img{ display: block; width: 2rem; height: 2rem; margin: 0 auto; }
.loading-warp .box .text{ display: block; text-align: center; font-size: 0.5rem; 
	line-height: 0.5rem; opacity: 0.7; margin-top: 1.4rem; }


.list{ }
.list li{ color: #63A0D7; padding: 0.8rem 1rem; background: #FFF; list-style: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.linkAdv{ width: 100%; position: fixed; bottom: 0; text-align: center; font-size: 1.2rem; }
.linkAdv a{ display: inline-block; margin: 0.6rem 1rem; }

/*coupon*/

.czzsmx table
{
    border-left: 1px solid #DD487D;
    border-top: 1px solid #DD487D;
}
.czzsmx table tr td
{
    border-right: 1px solid #DD487D;
    border-bottom: 1px solid #DD487D;
}

.intross .erweima
{
    border: 1px solid #DD487D;
}

.yhxycol{color: White;}

.zwsj
{  width: 80px;
   height: 80px;
   position: absolute; 
   top: 42%; 
   left: 50%; 
   margin-left: -40px;
 }











@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ls39fj');
  src:  url('fonts/icomoon.eot?ls39fj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ls39fj') format('truetype'),
    url('fonts/icomoon.woff?ls39fj') format('woff'),
    url('fonts/icomoon.svg?ls39fj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-foll_active:before {
  content: "\e900";
}
.icon-reserve_active:before {
  content: "\e901";
}
.icon-member:before {
  content: "\e902";
}
.icon-order:before {
  content: "\e903";
}
.icon-reserve:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-currAddr:before {
  content: "\e906";
}
.icon-tel:before {
  content: "\e907";
}
.icon-question:before {
  content: "\e908";
}
.icon-Voucher:before {
  content: "\e909";
}
.icon-discuss:before {
  content: "\e90a";
}
.icon-form:before {
  content: "\e90b";
}
.icon-price:before {
  content: "\e90c";
}
.icon-hotel:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-address:before {
  content: "\e90f";
}
.icon-weixin:before {
  content: "\e910";
}
.icon-tel_active:before {
  content: "\e911";
}
.icon-addr:before {
  content: "\e912";
}
.icon-reduce:before {
  content: "\e913";
}
.icon-plus:before {
  content: "\e914";
}
.icon-calen:before {
  content: "\e915";
}
.icon-foll:before {
  content: "\e916";
}
.icon-member_active:before {
  content: "\e917";
}
.icon-order_active:before {
  content: "\e918";
}
.icon-setup:before {
  content: "\e919";
}
.icon-load:before {
  content: "\e91a";
}
.icon-close:before {
  content: "\e91b";
}
.icon-gou:before {
  content: "\e91c";
}
.icon-dis:before {
  content: "\e91d";
}
.icon-radioed:before {
  content: "\e91e";
}
.icon-radio:before {
  content: "\e91f";
}
.icon-up:before {
  content: "\e920";
}
.icon-down:before {
  content: "\e921";
}
.icon-left-arrow:before {
  content: "\e922";
}
.icon-right:before {
  content: "\e923";
}
.icon-star:before {
  content: "\e924";
}
.icon-photo:before {
  content: "\e925";
}






