#head_box {
	padding: 0px;
	height: 69px;
	width: 100%;
	background-image: url(../images/head_bg1.jpg);
	background-repeat: repeat;
	margin: 0px;
}
a {
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}
a:hover {
	text-decoration: underline;
	color: #c00;
}

img{ border:0px;}

#logo {
	
	background-repeat: no-repeat;
	height: 52px;
	width: 256px;
	float: left;
   display:inline;
	padding:7px 18px 0 14px;

	_padding-right:15px;
}

#head_name {
	font-family: 微软雅黑;
	font-size: 14px;

	color: #000;
	filter:DropShadow(Color=#FFFFFF, OffX=1, OffY=1, Positive=2);
	padding: 0px;
	margin: 0px;
	margin-top: 27px;
	letter-spacing: 1px;
	float: left;	
}

#head_r {
	float: right;
	text-align: right;
	font-size: 12px;
	margin: 0px;
	background:url(../images/head_bg2.jpg) no-repeat scroll right 34px;
	height:69px;
	width:360px;
}

#head_r_t {
	clear: both;
	padding: 0 9px 0 0;
	font-family: "宋体";
	margin: 0px;
	 

	padding-top: 11px;
	height:27px;
}
#head_r_t  a
{
	padding:0px 2px;
	}
#head_r_t  a:hover
{
 color:#c00;
 text-decoration:underline;
	}
#head_r_b {
	padding:0 10px 0 0;
	margin: 0px;
	clear: both;
	height:31px;
	background:url(../images/head_r_b_bg.jpg) no-repeat scroll right bottom;
}
.head_b_l {
	margin: 0px;
	padding-top: 7px;
	padding-right: 11px;
	padding-left: 0px;
	float: right;
	height:17px;
	color:#666666;
	background:url(../images/head_b_r_line.jpg) no-repeat scroll right 0;
}
.head_b_r {
	float: right;
}